<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.disablerouting">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:name=".application.DisableRouteApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".splash.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".tutorial.TutorialActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustNothing">
        </activity>
        <activity
                android:name=".sidemenu.HomeActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustNothing">
        </activity>
        <receiver
                android:name=".network.NetworkChangeReceiver"
                android:label="NetworkChangeReceiver">
        </receiver>
        <activity
                android:name=".route_planner.view.RoutePlannerActivity"
                android:windowSoftInputMode="stateHidden"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".suggestions.view.SuggestionsActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".feedback.view.FeedbackActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".capture_option.view.CaptureActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".success_screen.SuccessActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".filter.view.FilterActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest>